<div id='general-toast' class="toast toast-dark" style="position: absolute; top: 0; right: 0;">
    <div class="toast-header">
        <i class="fa fa-bell">&nbsp;</i>
        <strong class="mr-auto">Notificaction</strong>
        <small class="toast-time">Now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        Body message
    </div>
</div>