<span class="buttons-image">
    <button type="submit" class="btn-image" data-toggle="tooltip" data-placement="bottom" data-html="true"
        title="<b>Discard</b>"><i class="fa fa-trash" aria-hidden="true"></i></button>
    <button type="submit" class="btn-image" data-toggle="tooltip" data-placement="bottom" data-html="true"
        title="<b>Clipboard</b>"><i class="fa fa-copy " aria-hidden="true"></i></button>
    <button type="submit" class="btn-image" data-toggle="tooltip" data-placement="bottom" data-html="true"
        title="<b>Full windows</b>"><i class="fa fa-expand" aria-hidden="true"></i></button>
</span>